NEXT_PUBLIC_GRAFBASE_API_Key=Your Grafbase API Key
NEXT_PUBLIC_GRAFBASE_API_URL=Your Grafbase API URL

GOOGLE_CLIENT_ID=Your Google Client ID
GOOGLE_CLIENT_SECRET=Your Google Client Secret

NEXTAUTH_SECRET=Your NextAuth Secret
NEXTAUTH_URL= Your NwxtAuth Url || http://localhost:3000
NEXT_PUBLIC_SERVER_URL=Your SERVER_URL Url || http://localhost:3000

CLOUDINARY_NAME=Yout Cloudinary Name
CLOUDINARY_KEY=Your Cloudinary Key
CLOUDINARY_SECRET=Your Cloudinary Secret
